.home-content .boxes {
    display: flex;
    justify-content: space-between;
}


/*box*/

.home-content .boxes .newreq {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.boxes .box .title {
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 15%;
    float: right;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 15px 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
}