.loginImage {
    position: absolute;
    width: 500px;
    height: 570px;
    left: -50px;
    top: 450px;
    margin: 0 0 0 0;
    padding-left: 0px;
}

.forgotpwd {
    text-decoration: none;
    text-align: center;
    color: grey;
}

.container2 {
    width: 480px;
    height: 600px;
    margin: 90px auto 120px;
    background-color: #D5E1C9;
    padding: 0 20px 20px;
    border-radius: 12px;
    /* box-shadow: 10px 20px 50px;*/
    text-align: center;
}

input[type=email] {
    width: 100%;
    padding: 16px 12px;
    margin: 100px 0;
    font-size: 16px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: #306C00;
    color: #f2f2f2;
    padding: 15px 10px;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
}