body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-top: -220px;
}

table {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

table,
th,
tr {
    border: 1px solid black;
}

th {
    background-color: #bbb;
    border-color: #bbb;
}

.close {
    cursor: pointer;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}

.close:hover {
    background: #bbb;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

.button {
    border: none;
    font-size: 16px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 20%;
    margin: 30px 0px 30px 76px;
}

.button:hover {
    background-color: #306C00;
    color: white;
}

.checkout {
    width: 87%;
    margin-left: 76px;
    border: 1px solid grey;
    padding: 5px 35px 5px 5px;
}

.plantsTopic {
    color: rgb(58, 57, 57);
    font-size: 50px;
    position: absolute;
    top: 200px;
    left: 1150px;
    text-align: center;
}