@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #144142;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

.sidebar .head-details {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar .head-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
}

.sidebar .head-details .head_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-left: 60px;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 60px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #153037;
}

.sidebar .nav-links li a:hover {
    background: #153037;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .settings {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 60px;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-topic {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.home-section .home-content {
    position: relative;
    padding-top: 104px;
}

.home-content .boxes {
    display: flex;
    justify-content: space-between;
}


/*box*/

.home-content .boxes .newreq {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.boxes .box .title {
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
}

.buttonselection {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 20%;
}

.buttonselection1 {
    background-color: #4CAF50;
}

.buttonselection2 {
    background-color: #ee4325;
}

p {
    margin-bottom: 15px;
}

img {
    float: left;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: 3%;
    height: 300px;
    width: 300px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 15%;
    float: right;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 15px 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
}