 a {
     text-decoration: none;
 }
 
 .row1 {
     font-family: Arial, Helvetica, sans-serif;
     height: auto;
     display: flex;
     margin: 0px 0 0 60px;
     /*     justify-content: center;
 */
 }
 
 .box1 {
     padding: 20px 10px 0 30px;
     margin: 30px 0 0 20px;
     width: 800px;
 }
 
 .img {
     margin-right: 15px;
     margin-top: 6px;
     border: 1px solid rgb(207, 206, 206);
     height: 150px;
     width: 150px;
     border-radius: 10px;
     padding: 20px 10px 10px 30px;
 }
 
 .img2 {
     border-radius: 10px;
     border: 1px solid rgb(207, 206, 206);
     height: 535px;
     width: 535px;
     padding: 20px 10px 10px 20px;
 }
 
 .qboxbutton {
     height: 30px;
     width: 20px;
     border-color: #ddd;
     background-color: #cce;
 }
 
 .qbox2 {
     height: 26px;
     width: 30px;
     border: 1px solid #171514;
     background-color: #fff;
 }
 
 .quantity {
     padding: 85px 10px 10px 0;
     height: 300px;
 }
 
 .qbut {
     height: 30px;
     width: 30px;
     border: 1px solid #171514;
 }
 
 .submit {
     height: 40px;
     width: 120px;
     margin: 5px 0px 0 0px;
     cursor: pointer;
     display: block;
     border: 1px solid #306C00;
     background-color: #306C00;
     color: white;
     font-weight: 300;
 }
 
 .btn {
     display: inline-block;
 }
 
 .row2 {
     width: 650px;
     justify-content: center;
     padding: 10px 10px 20px 400px;
 }
 
 .img-user {
     width: 50px;
     height: 50px;
     padding: 0 10px 0 0;
 }
 
 .review-box {
     margin-top: 40px;
     width: 550px;
     height: 150px;
     border-radius: 10px;
     background-color: #f9faf8;
     border: 2px solid grey;
 }
 
 .row {
     padding: 10px 10px -10px 10px;
     margin: 10px 10px -20px 10px;
     display: flex;
 }
 
 .column1 {
     margin: 50px 0 0 30px;
 }
 
 .column2 {
     margin-top: 50px;
     height: 600px;
 }
 
 .availability {
     border-radius: 5px;
     background-color: #f9faf8;
     width: 60px;
     padding: 8px;
     border: 1px solid #1a7a27;
     font-weight: 300;
     color: green;
 }
 
 .unavailability {
     border-radius: 5px;
     background-color: #f9faf8;
     width: 100px;
     padding: 8px;
     border: 1px solid #a51705;
     font-weight: 300;
     color: rgb(218, 6, 6);
 }
 
 .description {
     width: 400px;
     font-weight: 300;
     color: rgb(75, 75, 75);
 }
 
 .tablink {
     background-color: rgb(219, 217, 217);
     float: left;
     border: 1px solid rgb(231, 230, 230);
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     font-size: 17px;
     width: 400px;
     height: 100px;
 }
 
 .tablink:hover {
     background-color: rgb(240, 239, 239);
 }
 /* Style the tab content (and add height:100% for full page content) */
 
 .tabcontent {
     height: 450px;
     width: 772px;
     background-color: #e7e9e7;
     padding: 14px;
     padding-top: 150px;
     display: none;
 }
 
 .col-50 {
     width: 100%;
     min-height: 100px;
     height: auto;
     clear: left;
     margin: 100px;
 }