                     
                    
                    .wrapper {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        padding: 10px 0 0 0;
                        grid-gap: 1em;
                    }
                    
                    .search {
                        float: right;
                        display: block;
                    }
                    
                    input[type=text] {
                        width: 150px;
                        -webkit-transition: width 0.4s ease-in-out;
                        transition: width 0.4s ease-in-out;
                        margin: 10px 0 0 70px;
                        height: 30px;
                    }
                    
                    input[type=text]:focus {
                        width: 60%;
                    }
                    
                    .prof-img {
                        width: 80px;
                        height: 80px;
                        padding: 20px 10px 20px 10px;
                    }
                    
                    .box {
                        border-radius: 10px;
                        border: #ddd 1px solid;
                        width: 400px;
                        height: 300px;
                        margin: 10px 20px 10px 70px;
                    }
                    
                    .plant-img {
                        width: 100px;
                        height: 100px;
                    }
                    
                    .plant-box {
                        padding: 0 0 0 10px;
                    }
                    
                    .plants {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        padding: 10px 0 0 0;
                        grid-gap: 1em;
                    }
                    
                    .box2 {
                        text-align: center;
                    }
                    
                    .sellersBanner {
                        color: rgb(58, 57, 57);
                        font-size: 45px;
                        position: absolute;
                        top: 120px;
                        left: 340px;
                    }
                    
                    @keyframes slideInFromLeft {
                        0% {
                            transform: translateX(-100%);
                        }
                        100% {
                            transform: translateX(0);
                        }
                    }
                    
                    .shopName {
                        position: relative;
                        top: -50px;
                        display: inline-block;
                    }
                    /* Fading animation */
                    
                    .fade {
                        -webkit-animation-name: fade;
                        -webkit-animation-duration: 1.5s;
                        animation-name: fade;
                        animation-duration: 1.5s;
                    }
                    
                    @-webkit-keyframes fade {
                        from {
                            opacity: .4
                        }
                        to {
                            opacity: 1
                        }
                    }
                    
                    @keyframes fade {
                        from {
                            opacity: .4
                        }
                        to {
                            opacity: 1
                        }
                    }
                    
                    .sellerBannerContent {
                        word-spacing: 15px;
                        position: absolute;
                        font-size: 35px;
                        font-weight: 500;
                        top: 300px;
                        right: 100px;
                        color: rgb(108, 109, 108);
                    }